body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #666;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.avis-container {
    max-width: 800px;
    margin: 0 auto;
}

.avis {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avis h2 {
    margin-bottom: 10px;
}

.avis p {
    margin-bottom: 5px;
}
